
/* line 3, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
header {
  height: 20%;
}

/* line 13, ../scss/main.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 690px;
}

/* line 28, ../scss/main.scss */
#wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  background: url("http://dailybruin.com/images/galleries/spring-sing-2013/springsing1-nb.jpg");
  display: none;
  background-size: cover;
  overflow: hidden;
}

/* line 47, ../scss/main.scss */
.item {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 51, ../scss/main.scss */
.item h6 {
  margin-top: 0;
}

/* line 59, ../scss/main.scss */
.item-overlay {
  width: 100%;
  height: 100%;
}
/* line 62, ../scss/main.scss */
.item-overlay:hover .item-description {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 65, ../scss/main.scss */
.item-overlay:hover .item-type {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 68, ../scss/main.scss */
.item-overlay:hover {
  cursor: pointer;
}

/* line 75, ../scss/main.scss */
.item-description {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  top: 70%;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -ms-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
/* line 88, ../scss/main.scss */
.item-description h6 {
  font-family: 'Lora', serif;
}

/* line 94, ../scss/main.scss */
.item-type {
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 90%;
  right: 65%;
  -webkit-transform: translateY(-105%);
  -moz-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  -o-transform: translateY(-105%);
  transform: translateY(-105%);
  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -ms-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
/* line 108, ../scss/main.scss */
.item-type h6 {
  font-family: 'Montserrat', sans-serif;
}

/*.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  max-width: 62.5rem;
}
*/
/* line 123, ../scss/main.scss */
.item-name {
  position: absolute;
  pointer-events: none;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 141, ../scss/main.scss */
.item-name h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* line 149, ../scss/main.scss */
.popup h2 {
  font-family: 'Lora', serif;
}

/* line 156, ../scss/main.scss */
#talent-profiles h1 {
  /*color: white;*/
  font-family: 'Montserrat', serif;
  margin-bottom: 30px;
}

/* line 164, ../scss/main.scss */
.title {
  margin-top: 10%;
}
/* line 166, ../scss/main.scss */
.title .title-main {
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
/* line 170, ../scss/main.scss */
.title .title-main h1 {
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 7em;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  line-height: 1.1em;
}
/* line 181, ../scss/main.scss */
.title .title-circle {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 2px dashed white;
  position: absolute;
  top: -40px;
  right: 15px;
  font-size: .75em;
  line-height: 1.15em;
  padding-top: 40px;
  font-weight: bold;
  letter-spacing: 6px;
  padding-left: 8px;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
  -ms-transition: transform 2s ease-in-out;
  -o-transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
/* line 198, ../scss/main.scss */
.title .title-circle h4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
/* line 205, ../scss/main.scss */
.title .title-description {
  padding: 20px;
  margin-top: 20px;
}
/* line 208, ../scss/main.scss */
.title .title-description p {
  font-family: 'Lora', serif;
}

/* color palette from: https://color.adobe.com/Dreams-Forever-color-theme-2208291/ */

/* == General ==*/
.section-header h1 {
   color: #866FB8;
   text-align: left;
   font-family: 'Montserrat', serif;
   margin-bottom: 30px;
   letter-spacing: 3px;
 }

/* == News Section ==*/
.article {
  text-align: center;
}

.article h6{
  @include vendorize(opacity, 1);
  height: 100%;
  width: 100%;
  margin: 5px;
  padding: 5px;
  color: #84A891;
}
.article a {
  color: #F2EFDF;
  font-style: italic;
}

.article a:hover {
  font-style: bold;
  color: gray;
}
 .article h4 {
  color: #F2EFDF;
  font-style: bold;
 }

 .article img {
    width: 100%;
   vertical-align: center;
 }

 /* line 62, ../scss/main.scss */
 .article-description {
   width: 100%;
   padding: 15px;
   text-align: left;
   -webkit-opacity: 1;
   -moz-opacity: 1;
   -ms-opacity: 1;
   -o-opacity: 1;
   opacity: 1;
   background-color: rgba(0, 0, 0, 0.4);
   -webkit-transition: opacity 600ms ease-in-out;
}
.article-description @media only screen and (max-width: 40em){
  padding: none;
}

.row .row .articles {
  margin-bottom: 20px;
}


  #news {
   text-align: center;
   font-family:'Roboto', serif;
   display: table;
   width: 100%;
   height: auto;
   letter-spacing: 2px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
   background-size: cover;
  -o-background-size: cover;
 }

#feeds {
  padding-top: 20px;
    -webkit-padding-top: 1;
   -moz-padding-top: 1;
   -ms-opacity: 1;
   -o-opacity: 1;
}

/*#instafeed{
  border-radius: 10px;
  border: 1px solid #E2EAAB;
}*/

#instafeed h3{
  color:#E2EAAB;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

#instafeed img{
  width: 25%;
}

#feeds {
   border-radius: 10px;
  border: 1px solid #E2EAAB;
}

#twitterfeed h3{
  color:#E2EAAB;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
