/* line 4, ../scss/main.scss */
.video iframe {
  height: auto;
}

/* line 11, ../scss/main.scss */
#news .articles {
  margin-bottom: 20px;
}

/* line 15, ../scss/main.scss */
.video-overlay {
  background-position: center;
  text-align: center;
  width: auto;
  height: 200px;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}
/* line 21, ../scss/main.scss */
.video-overlay i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 28, ../scss/main.scss */
.video-overlay:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* line 34, ../scss/main.scss */
.video {
  position: relative;
}

@media only screen and (max-width: 40em) {
  /* line 40, ../scss/main.scss */
  .flex-video {
    margin-top: 50%;
    -webkit-margin-top: 50%;
    -moz-margin-top: 50%;
    -ms-margin-top: 50%;
    -o-margin-top: 50%;
  }
}
/* line 50, ../scss/main.scss */
#filters {
  margin: 10px 0px;
}
/* line 52, ../scss/main.scss */
#filters .btn {
  font-family: Montserrat;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 6px 10px;
  color: white;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
/* line 63, ../scss/main.scss */
#filters .btn:hover {
  background-color: rgba(117, 234, 204, 0.62);
  color: white;
}
/* line 68, ../scss/main.scss */
#filters .active {
  background-color: rgba(117, 234, 204, 0.62);
  color: white;
}

/* line 74, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 80, ../scss/main.scss */
header {
  height: 20%;
}

/* line 84, ../scss/main.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  background-color: #000;
  background-size: cover;
  height: 100%;
}

/* line 96, ../scss/main.scss */
#wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/header.jpg);
  background-size: cover;
  overflow: hidden;
}

/* line 118, ../scss/main.scss */
.title {
  margin-top: 10%;
}
/* line 120, ../scss/main.scss */
.title .title-main {
  position: relative;
  z-index: 10;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
/* line 126, ../scss/main.scss */
.title .title-main h1 {
  text-shadow: 2px 2px #5c5c5c;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 7em;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  line-height: 1.1em;
}
/* line 138, ../scss/main.scss */
.title .title-circle {
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  background-color: rgba(225, 236, 75, 0.8);
  position: absolute;
  top: -40px;
  right: 15px;
  line-height: 0.6em;
  padding-left: 35px;
  padding-top: 40px;
  font-weight: bold;
  padding-left: 8px;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
  -ms-transition: transform 2s ease-in-out;
  -o-transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
/* line 158, ../scss/main.scss */
.title .title-circle h4 {
  font-size: 3em;
  color: #505161;
  font-family: 'Montserrat', sans-serif;
}
/* line 167, ../scss/main.scss */
.title .title-description {
  padding: 0px 40px;
  margin-top: 20px;
}
/* line 170, ../scss/main.scss */
.title .title-description p {
  position: relative;
  z-index: 2;
  font-size: 0.8em;
  font-family: 'Lora', serif;
  text-shadow: 1px 1px #5c5c5c;
}
/* line 179, ../scss/main.scss */
.title .title-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: rgba(53, 79, 126, 0.5);
}

/* line 196, ../scss/main.scss */
.item {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 200, ../scss/main.scss */
.item h6 {
  margin-top: 0;
}

/* line 208, ../scss/main.scss */
.item-overlay {
  width: 100%;
  height: 100%;
}
/* line 211, ../scss/main.scss */
.item-overlay:hover .item-description {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 214, ../scss/main.scss */
.item-overlay:hover .item-type {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 217, ../scss/main.scss */
.item-overlay:hover {
  cursor: pointer;
}

/* line 224, ../scss/main.scss */
.item-description {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  top: 75%;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -ms-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
/* line 236, ../scss/main.scss */
.item-description li {
  font-family: 'Lora', serif;
}
/* line 239, ../scss/main.scss */
.item-description h6 {
  font-family: 'Lora', serif;
}

/* line 245, ../scss/main.scss */
.item-type {
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 90%;
  right: 65%;
  -webkit-transform: translateY(-105%);
  -moz-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  -o-transform: translateY(-105%);
  transform: translateY(-105%);
  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -ms-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
/* line 259, ../scss/main.scss */
.item-type h6 {
  font-family: 'Montserrat', sans-serif;
}

/*.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  max-width: 62.5rem;
}
*/
/* line 274, ../scss/main.scss */
.item-name {
  position: absolute;
  pointer-events: none;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  background-color: rgba(117, 234, 204, 0.46);
}
/* line 292, ../scss/main.scss */
.item-name h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* line 301, ../scss/main.scss */
.popup h1 {
  margin-bottom: 0;
}
/* line 304, ../scss/main.scss */
.popup img {
  margin-bottom: 10px;
}
/* line 307, ../scss/main.scss */
.popup h2, .popup h4, .popup p {
  font-family: 'Lora', serif;
}

/* line 316, ../scss/main.scss */
#talent-profiles h1 {
  color: white;
  font-family: 'Montserrat', serif;
  margin-bottom: 30px;
}

/* line 324, ../scss/main.scss */
#activity {
  color: white;
  font-family: 'Montserrat', serif;
  margin-bottom: 30px;
}

/* line 332, ../scss/main.scss */
#feeds {
  padding-top: 20px;
  -webkit-padding-top: 1;
  -moz-padding-top: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
}

/*#instafeed{
  border-radius: 10px;
  border: 1px solid #E2EAAB;
}*/
/* line 345, ../scss/main.scss */
#instafeed h3 {
  color: white;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

/* line 354, ../scss/main.scss */
#instafeed img {
  width: 25%;
}

/* line 358, ../scss/main.scss */
#feeds {
  border-radius: 10px;
  border: 1px solid #E2EAAB;
}

/* line 363, ../scss/main.scss */
#twitterfeed h3 {
  color: #E2EAAB;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

/*#instafeed{
  border-radius: 10px;
  border: 1px solid #E2EAAB;
}*/
/* line 376, ../scss/main.scss */
.article h4 {
  color: white;
  font-style: italic;
}
/* line 382, ../scss/main.scss */
.article h6 {
  font-style: bold;
  color: #c2c2c2;
}
/* line 388, ../scss/main.scss */
.article a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
}
/* line 395, ../scss/main.scss */
.article a:hover {
  font-style: bold;
  color: #57C2A3;
}

/* line 405, ../scss/main.scss */
.article-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 15px;
  text-align: left;
  opacity: 1;
  background-color: rgba(87, 194, 163, 0.3);
}
/* line 416, ../scss/main.scss */
.article-description h4 {
  font-family: 'Lora', sans-serif;
}
/* line 419, ../scss/main.scss */
.article-description h6 {
  font-family: 'Lora', sans-serif;
}

/* line 429, ../scss/main.scss */
.row .row .articles {
  margin-bottom: 20px;
}

@media only screen and (max-width: 479px) {
  /* line 434, ../scss/main.scss */
  .title-bg {
    display: none;
  }

  /* line 437, ../scss/main.scss */
  .title-circle {
    display: none;
  }

  /* line 441, ../scss/main.scss */
  .title .title-main h1 {
    font-size: 4em;
  }
}
/* line 447, ../scss/main.scss */
iframe {
  width: 100%;
  height: auto;
}

/* line 452, ../scss/main.scss */
.modal-image {
  display: inline-block;
  background: #f5f5f5;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* line 459, ../scss/main.scss */
.modal-image img {
  border: 1px solid white;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
}
/* line 464, ../scss/main.scss */
.modal-image .modal-caption {
  padding: 9px;
  color: #333;
  box-sizing: border-box;
}
/* line 468, ../scss/main.scss */
.modal-image .modal-caption .caption_content {
  margin: 0;
  font-size: 0.8em;
  padding-top: 0.5em;
  float: left;
}

/* line 478, ../scss/main.scss */
footer p {
  font-size: 0.8em;
  float: right;
}

/* line 484, ../scss/main.scss */
#share-buttons {
  float: right;
}
/* line 486, ../scss/main.scss */
#share-buttons img {
  margin-left: 4px;
  width: 55px;
  height: 19px;
  float: right;
}

/* line 494, ../scss/main.scss */
.columns + .columns:last-child {
  float: left;
}
