/* line 3, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
header {
  height: 20%;
}

/* line 13, ../scss/main.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 690px;
}

/* line 28, ../scss/main.scss */
#wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  overflow: hidden;
}
/* line 34, ../scss/main.scss */
#wrap img.bgfade {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: block;
}

/* line 43, ../scss/main.scss */
.item {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 47, ../scss/main.scss */
.item h6 {
  margin-top: 0;
}

/* line 55, ../scss/main.scss */
.overlay:hover .description {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  display: block;
}

/* line 60, ../scss/main.scss */
.description {
  height: 100%;
  width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 600ms ease-in-out;
  -moz-transition: opacity 600ms ease-in-out;
  -o-transition: opacity 600ms ease-in-out;
  transition: opacity 600ms ease-in-out;
}

/*.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  max-width: 62.5rem;
}
*/
/* line 84, ../scss/main.scss */
#talent-profiles h1 {
  font-family: 'Montserrat', serif;
  margin-bottom: 30px;
}

/* line 91, ../scss/main.scss */
.title {
  margin-top: 15%;
}
/* line 93, ../scss/main.scss */
.title .title-main {
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform: skewY(-6deg);
}
/* line 96, ../scss/main.scss */
.title .title-main h1 {
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 7em;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  line-height: 1.1em;
}
/* line 107, ../scss/main.scss */
.title .title-circle {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 2px dashed white;
  position: absolute;
  top: -110px;
  right: 10px;
  font-size: .75em;
  line-height: 1.15em;
  padding-top: 40px;
  font-weight: bold;
  letter-spacing: 6px;
  padding-left: 8px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
/* line 123, ../scss/main.scss */
.title .title-circle h4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
/* line 128, ../scss/main.scss */
.title .title-description {
  margin-top: 20px;
}
/* line 130, ../scss/main.scss */
.title .title-description p {
  font-family: 'Lora', serif;
}
