@import "mixins";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 20%;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  background-color: #000;
	background-size: cover;
	height: 100%;
}

#wrap {
  width: 100%;
  height: 100%;
  position: absolute;

  // background: url('http://dailybruin.com/images/galleries/spring-sing-2013/springsing1-nb.jpg');
  background: url(../img/header.jpg);
  // display:none;
  background-size: cover;
  overflow: hidden;
  // opacity: 0;
  // img.bgfade {
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   overflow: hidden;
  //   display: block;
  // }
}

.title {
	margin-top: 10%;
	.title-main {
		position: relative;
		z-index: 10; 
		@include vendorize(transition, transform 1s ease-in-out);
		// @include vendorize(transform, skewY(-6deg));

		h1 {
			text-shadow: 2px 2px rgb(92, 92, 92);
			color: white;
	    font-weight: 400;
	    margin-bottom: 0;
	    font-size: 7em;
	    text-align: center;
	    font-family: 'Abril Fatface', serif; 
	    text-transform: uppercase; 
	    line-height: 1.1em;
		}
	}
	.title-circle {
		z-index: 2;
		width: 150px;
	  height: 150px;
	  border-radius: 80px;
	  background-color: rgba(225, 236, 75,0.8);
	  // text-align: center;
	  // border: 2px dashed white;
	  position: absolute;
	  top: -40px;
	  right: 15px;
	  
	  line-height: 0.6em;
	  padding-left: 35px;
  	padding-top: 40px;
	  font-weight: bold;
	  // letter-spacing: 6px;
	  padding-left: 8px;
	  @include vendorize(transition, transform 2s ease-in-out);
	  // @include vendorize(transform, rotate(10deg));
		h4 {
			font-size: 3em;
			// text-align: left;
			// opacity: 0;
			// @include vendorize(transition, opacity 1s ease-in-out);
			color:rgb(80, 81, 97);;
			font-family: 'Montserrat', sans-serif; 
		}
	}
	.title-description {
		@include vendorize(transform, skewY(-6deg));
		padding: 0px 40px;
		margin-top: 20px;
		p {
			// padding: 15px; 
			font-size: 0.8em;
			font-family: 'Lora', serif;
			text-shadow: 1px 1px rgb(92, 92, 92);
		}
	}
	.title-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width:550px; 
		height: 550px;
		// background-color: rgba(0,0,0,0.5);
		border-radius: 50%;
		background-color: rgba(53, 79, 126, 0.5);
	}

}


.item {
	overflow:hidden;
	margin-bottom: 10px;
	// padding: 0;
	h6 {
		margin-top: 0;
	}
}




.item-overlay {
	width: 100%;
	height: 100%;
	&:hover .item-description {
		@include vendorize(transform, translateY(0%));
	}
	&:hover .item-type {
		@include vendorize(transform, translateY(0%));
	}
	&:hover {
		cursor: pointer;
	}
	// @include vendorize(opacity, 1);
	// top: 70%;
}

.item-description {
	padding: 10px;

	background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  top: 75%;
  left: 0;
  bottom: 0;
  right: 0;
  @include vendorize(transform, translateY(100%));
  @include vendorize(transition, transform 350ms ease-in-out);
	li {
		font-family: 'Lora', serif;
	}
  h6 {
  	font-family: 'Lora', serif; 
  }

}

.item-type {
	padding: 5px;
	text-align: center;

	background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 90%;
  right: 65%;
  @include vendorize(transform, translateY(-105%));
  @include vendorize(transition, transform 350ms ease-in-out);

  h6 {
  	font-family: 'Montserrat', sans-serif;
  }

}

/*.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  max-width: 62.5rem;
}
*/

.item-name {
	position: absolute;
  pointer-events: none;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  background-color: rgba(117, 234, 204, 0.46);
	// border: 2px solid white;
	// height: 50%;
	// width: 50%;
 //  position: absolute;
 //  top: 0;
 //  right: 0;
 //  left: 0;
 //  bottom: 0;
 //  margin: auto;

  h1 {

  	color: white;
  	font-family: 'Montserrat', sans-serif;
  	text-transform: uppercase; 
  }
}

.popup {
	h1 {
		margin-bottom: 0; 
	}
	img {
		margin-bottom: 10px;
	}
	h2, h4, p {
		font-family: 'Lora', serif; 
	}


}

#talent-profiles {
	// height: 100%;
	h1 {
		color: white;
		font-family: 'Montserrat', serif;
		margin-bottom: 30px;
		// text-transform: uppercase;
	}
}

#feeds {
  padding-top: 20px;
    -webkit-padding-top: 1;
   -moz-padding-top: 1;
   -ms-opacity: 1;
   -o-opacity: 1;
}

/*#instafeed{
  border-radius: 10px;
  border: 1px solid #E2EAAB;
}*/

#instafeed h3{
  // color:#E2EAAB;
  color: white;
  // text-align: center;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}
 
#instafeed img{
  width: 25%;
}
 
#feeds {
   border-radius: 10px;
  border: 1px solid #E2EAAB;
}
 
#twitterfeed h3{
  color:#E2EAAB;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

/*#instafeed{
  border-radius: 10px;
  border: 1px solid #E2EAAB;
}*/
.article { 
 h4 {
 // color: #659FB7;
	 color: white;
	 font-style: italic;
 }

h6{
 font-style: bold;
 // color: #C1D9E3;
 color: rgb(194, 194, 194);
}

a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	color: white;

	// font-style: italic;
	&:hover {
		font-style: bold;
  	// color: #566561;
  	color: #57C2A3;

	}
}
}


.article-description {

  width: 100%;
  padding: 15px;
  text-align: left;
  opacity: 1;
  background-color: rgba(87, 194, 163, 0.3);
  h4 {
  	font-family: 'Lora', sans-serif; 
  }
  h6 {
  	font-family: 'Lora', sans-serif; 

  }
 }




.row .row .articles {
  margin-bottom: 20px;
}

@media only screen and (max-width: 479px) {
	.title-bg {
		display: none;
	}
	.title-circle {
		display: none;
	}
	.title .title-main {
		h1 {
			font-size: 4em;
		}
	}
}

iframe{
	width:100%;
	height:auto;
}

.modal-image{
  display: inline-block;
  background: #f5f5f5;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  	img{
  		border: 1px solid white;
  		margin: 0 auto;
  		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
  	}
  	.modal-caption{
  		padding: 9px;
  		color: #333;
  		box-sizing: border-box;
  		.caption_content{
  			margin: 0;
  			font-size: 0.8em;
 			padding-top: 0.5em;
  			float: lefts;
  		}
  	}
}

